@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
   
     background-color: #e9ebee;
}

.container-fluid .row #footer {
   

 }
 
 #rowFooter {
    background-color: #F2F2F2;
    padding-top: 12px;
 }

 .row #titleOfProductsCreatePage {
     margin-top: 25px;
     margin-bottom: 25px;
 }
 .row #titleOfProductsPage {
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .row #buttonToCreateNewProduct {
     
     margin-bottom: 36px;
 }
 header {
     background-color: #74a6f7;
     border-style: solid;
     border-color: #c8cace;
     border-width: 1px;
     margin-bottom: 5px;
    
     
 }