@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
    background-color: #FAF7F7;
}

.container-fluid .row #footer {
     margin-top: 50px;
     size: 100%;
     margin-top: 50%;

 }
 
 #rowFooter {
    background-color: #F2F2F2;
    padding-top: 12px;
 }

 .row #titleOfProductsCreatePage {
     margin-top: 25px;
     margin-bottom: 25px;
 }
 .row #titleOfProductsPage {
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .row #buttonToCreateNewProduct {
     
     margin-bottom: 36px;
 }