.navbarForC {
    font-size: 40px !important;
    color: black;
}
#navbarNav a {
    font-size: 20px;
    text-align: right;
    color: black;
}
#navbarNav #paragraph {
    font-size: 20px;
    text-align: right;
    color: black;
    margin-bottom: 0px;
}
